@import url("colors");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: -ms-grid;
  display: grid;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1400px;
}

header {
  background-color: #f6f6f6;
  padding: 40px 0;
}

.grid {
  max-width: 1235px;
  margin: 0 auto;
  background-color: #00cc66;
}

.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container #menu-checkbox {
  display: none;
}

.header-container nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 38px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header-container nav .active {
  color: #10c9c3;
}

.header-container nav a {
  font-size: 12px;
  padding: 27px 0px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #191919;
}

.header-container nav a:hover {
  color: #10c9c3;
}

.header-info {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 140px auto 200px;
}

.header-info h2 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #1d1d1d;
}

.header-info p {
  margin: 40px 0;
  max-width: 480px;
  font-family: 'Nunito Sans';
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
}

.header-info .btn {
  display: -ms-grid;
  display: grid;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  place-items: center;
  width: 180px;
  height: 54px;
  background-color: #10c9c3;
}

.about {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.about .about__info {
  width: 620px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.about .about__info h2 {
  font-size: 30px;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #191919;
}

.about .about__info p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  margin: 35px 0;
}

.skills__pro {
  padding: 160px 0px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.skills__pro .skills__line h2 {
  font-size: 30px;
  line-height: 84px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #171717;
}

.skills__pro .skills__line p {
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.skills__pro .skills__line .line {
  max-width: 500px;
  border-bottom: 3px solid #10c9c3;
  margin: 20px 0 40px;
}

.numbers {
  background-color: #10c9c3;
  padding: 100px 0;
}

.numbers .list-numbers {
  max-height: 240px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.numbers .list-numbers .number {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.numbers .list-numbers .number .icon {
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.numbers .list-numbers .number h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.numbers .list-numbers .number p {
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.work .work-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.work .work-img img {
  min-width: 100%;
  min-height: 300px;
}

.work .load {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #8e8e8e;
  text-align: center;
  justify-items: center;
  padding: 45px 0;
  background-color: #f5f5f5;
}

.work-process {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.work-process .work-title {
  padding-top: 100px;
  text-align: center;
}

.work-process .work-title h2 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #191919;
}

.work-process .work-title p {
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  padding: 40px 0 60px;
  max-width: 500px;
}

.work-process .work-video {
  min-height: 570px;
  min-width: 100%;
  background-color: #f6f6f6;
  margin-bottom: 100px;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.services .service {
  text-align: center;
}

.services .service a {
  font-size: 48px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #656565;
}

.services .service h2 {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #191919;
}

.services .service p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
}
/*# sourceMappingURL=style.css.map */